<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>

</head>
<body>
    <!--
        手机表单数据:
            若: <input type="text"/>, 则v-model收集的是value值, 用户输入的就是value值
            若: <input type="radio"/>, 则v-model收集的是value值, 且要给标签配置value值
            若: <input type="checked"/>
                1. 没有配置input的value属性, 那么收集的就是checked(勾选 or 未勾选, 是布尔值)
                2. 配置input的value属性:
                    (1). v-model的初始值是非数组, 那么收集的就是checked(勾选 or 未勾选 是布尔值)
                    (2). v-model的初始值的数组, 那么收集的就是value组成的数组
            备注: v-model的三个修饰符:
                lazy: 失去焦点在收集数据
                number: 输入字符串转为有效的数字
                trim: 输入首位空格过滤
     -->
    <div id="root">
        <form @submit.prevent="de">
            <label for="demo">账号: </label>
            <!-- .trim 是去掉前面的空格 -->
            <input type="text" id="demo" v-model.trim="userInfo.account"><br><br>
            <label for="demo1">密码: </label>
            <input type="text" id="demo1" v-model="userInfo.password"><br><br>
            <label for="demo1">年龄: </label>
            <!-- 强制转换成Number类型 -->
            <input type="number" id="demo1" v-model.number="userInfo.age"><br><br>
            <label>性别: </label>
            <input type="radio" name="sex" v-model="userInfo.sex" value="male"><span>男</span>
            <input type="radio" name="sex" v-model="userInfo.sex" value="female"><span>女</span><br><br>
            <label for="">爱好</label>
            <input type="checkbox" v-model="userInfo.hobby" value="study"><span>学习</span>
            <input type="checkbox" v-model="userInfo.hobby" value="game"><span>游戏</span>
            <input type="checkbox" v-model="userInfo.hobby" value="eat"><span>吃饭</span><br><br>
            <label for="">所属小区: </label>
            <select name="" id="" v-model="userInfo.city">
                <option value="">请选择校区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="guangzhou">广州</option>
                <option value="wuhan">武汉</option>
            </select>
            <br><br>
            <label for="" >其他信息: </label>
            <!-- .lazy 是等输入完后, 操作后, 再更新, 延迟更新 -->
            <textarea name="" id="" cols="15" rows="3" v-model.lazy="userInfo.other"></textarea><br><br>
            <input type="checkbox" v-model="userInfo.agree">阅读并接受<a href="https://www.bilibili.com/">[用户协议]</a>
            <br><br>
            <button>提交</button>
        </form>
    </div>
</body>
<script>
    Vue.config.productionTip = false;

    const vm = new Vue({
        el: '#root',
        data:{
            userInfo:{
                account:'',
                password:'',
                age:18,
                sex:'female',
                hobby: [],
                city:'beijing',
                other:'',
                agree:'',
            }
        },
        methods: {
            de() {
                console.log(JSON.stringify(this.userInfo))
            }
        }
    })

</script>
</html>